<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.applicationHost>
        <applicationPools>
            <add name="sportshopwebsite" managedRuntimeVersion="v4.0" />
        </applicationPools>
        <sites>
            <site name="sportshopwebsite" id="1">
                <application path="/" applicationPool="sportshopwebsite">
                    <virtualDirectory path="/" physicalPath="D:\web\LTWebNangCao\spshop\Ecomrece-aspmvc-sportshop\sportshopwebsite\sportshopwebsite" />
                </application>
                <bindings>
                    <binding protocol="http" bindingInformation="*:51779:localhost" />
                </bindings>
            </site>
        </sites>
    </system.applicationHost>
</configuration>
